/* Body */





/* section-1 */


/* section-2 */

/* our team  section 3 */


/* portfolio section */

.portfolio-section {
  background-color: #ffffff;
  max-width: 100%;
  padding: 120px 0;
}

.title-portfolio {
  text-align: center;
  font-size: 36px;
  font-style: normal;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.list-iteams-portfolio {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-iteams-portfolio:hover {
  transform: translateY(0%);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.section-portfolio-img {
  position: relative;
  overflow: hidden;
}

.text-section-portfolio-img {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-iteams-portfolio:hover .text-section-portfolio-img {
  transform: translateY(0%);
}

.container-portfolio-items {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-items {
  margin-bottom: 8px;
}

/* footer */
.footer-style {
  flex-shrink: 0;
  background: #2e2f42;
  max-width: 100%;
  padding: 100px 0;
}
.contaniner-footer {
  display: flex;
  align-items: baseline;
}
.container-footer-logo {
  margin-right: 120px;
}
.studio-footer {
  color: #f4f4fd;
}
.text-footer {
  color: #f4f4fd;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
  width: 264px;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.social-footer {
  display: block;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.list-socials-footer {
  display: flex;
  gap: 16px;
  margin-right: 80px;
}
.item-socials-footer {
  width: 40px;
  height: 40px;
}
.link-social-footer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-social-footer:hover,
.link-social-footer:focus {
  background-color: #31d0aa;
}
.footer-socials-icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  fill: #f4f4fd;
}

.form-subscribe {
  display: flex;
  gap: 24px;
}

.text-modal-email {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.modal-email-form {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}

.button-form-footer {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.img-btn-form-footer {
  margin-left: 16px;
  fill: #fff;
}


.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}


.backdrop .is-open{
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.backdrop-modal {
  padding: 72px 24px 24px 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-backdrop-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-backdrop-close:hover,
.btn-backdrop-close:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.img-btn-backdrop {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.backdrop-form {
  margin-bottom: 8px;
}

.backdrop-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.container-form {
  position: relative;
}

.input-form {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form:focus {
  border-color: #4d5ae5;
}
.input-form:focus + .img-form-backdrop {
  fill: #4d5ae5;
}

.img-form-backdrop {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.img-form-backdrop:focus {
  fill: #4d5ae5;
}

.container-form-comment {
  margin-bottom: 16px;
}

.field-text-form {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.field-text-form:focus {
  border-color: #4d5ae5;
}

.checkbox-form-container {
  margin-bottom: 24px;
}
.checkbox-form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.checkbox-form-own {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
  cursor: pointer;
}

.checkbox-form-input:checked + .checkbox-form-label > .checkbox-form-own {
  background-color: #404bbf;
  border: none;
  fill: #F4F4FD;
}

.form-checkbox-backdrop-link {
  color: #4d5ae5;
  text-decoration: underline;
}

.form-backdrop-button-sent {
  margin: 0 auto;
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  border: none;
  background-color: #4d5ae5;
}
